# 1.C. Preparing and Cleaning SMAM

### 0. List of Contents
#### 1. Importing Libraries and Dataframes
#### 2. Exploring Data Set
#### 3. Data Wrangling
#### 4. Data consistency Checks

### 1. Importing Libraries and Dataframes

In [1]:
#import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Creating path
path=r'/Users/fru.s/Documents/CF - Data Analytics/2.6. Sourcing Open Data/Open Source Data Analysis/02 Data/Prepared Data/'

In [3]:
#importing dataframe
smam=pd.read_excel(os.path.join(path,'SMAM.xlsx'),sheet_name='SMAM_update')

In [5]:
#printing first 5 rows of df to cross check
smam.head()

,Country or area,YearStart,YearEnd,Sex,Year Start Sex,DataValue_ave,Region Name,Sub-region Name
0,Afghanistan,1972,1974,Men,1972 1974 Men,26.0,Asia,Southern Asia
1,Afghanistan,1979,1979,Men,1979 1979 Men,25.3,Asia,Southern Asia
2,Afghanistan,2015,2016,Men,2015 2016 Men,24.5,Asia,Southern Asia
3,Afghanistan,1972,1974,Women,1972 1974 Women,18.1,Asia,Southern Asia
4,Afghanistan,1979,1979,Women,1979 1979 Women,17.8,Asia,Southern Asia

### 2. Exploring Data Set

In [6]:
#Print the names of the columns
smam.columns

Index(['Country or area', 'YearStart', 'YearEnd', 'Sex', 'Year Start Sex',
       'DataValue_ave', 'Region Name', 'Sub-region Name'],
      dtype='object')

In [7]:
smam.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4062 entries, 0 to 4061
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country or area  4062 non-null   object
 1   YearStart        4062 non-null   int64
 2   YearEnd          4062 non-null   int64
 3   Sex              4062 non-null   object
 4   Year Start Sex   4062 non-null   object
 5   DataValue_ave    4062 non-null   float64
 6   Region Name      4062 non-null   object
 7   Sub-region Name  4062 non-null   object
dtypes: float64(1), int64(2), object(5)
memory usage: 254.0+ KB

### 3. Data Wrangling

#### Year Start Sex is duplicate column and needs to be dropped

In [5]:
smam=smam.drop(columns=['Year Start Sex'])

In [6]:
smam.head()

,Country or area,YearStart,YearEnd,Sex,DataValue_ave,Region Name,Sub-region Name
0,Afghanistan,1972,1974,Men,26.0,Asia,Southern Asia
1,Afghanistan,1979,1979,Men,25.3,Asia,Southern Asia
2,Afghanistan,2015,2016,Men,24.5,Asia,Southern Asia
3,Afghanistan,1972,1974,Women,18.1,Asia,Southern Asia
4,Afghanistan,1979,1979,Women,17.8,Asia,Southern Asia

### 4. Data consistency Checks

In [8]:
#Need to make sure that DataValue column isn't mixed
for col in smam.columns.tolist():
  weird = (smam[[col]].applymap(type) != smam[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (smam[weird]) > 0:
    print (col)

#### No mixed type data either

In [9]:
#Checking on missing values
smam.isnull().sum()

Country or area    0
YearStart          0
YearEnd            0
Sex                0
Year Start Sex     0
DataValue_ave      0
Region Name        0
Sub-region Name    0
dtype: int64

#### No missing values

In [10]:
# Looking for duplicates
smam_dups = smam[smam.duplicated()]

In [11]:
smam_dups

Empty DataFrame
Columns: [Country or area, YearStart, YearEnd, Sex, Year Start Sex, DataValue_ave, Region Name, Sub-region Name]
Index: []

### 5. Exporting Data Set as Pickle to Prepare for Combining All Data Sets into One

In [7]:
smam.to_pickle(os.path.join(path, 'smam_clean.pkl'))