# 1.D. Preparing and Cleaning CURRENTLY MARRIED

### 0. List of Contents
#### 1. Importing Libraries and Dataframes
#### 2. Exploring Data Set
#### 3. Data Wrangling
#### 4. Data consistency Checks

### 1. Importing Libraries and Dataframes

In [1]:
#import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Creating path
path=r'/Users/fru.s/Documents/CF - Data Analytics/2.6. Sourcing Open Data/Open Source Data Analysis/02 Data/Prepared Data/'

In [3]:
#importing dataframe
cm=pd.read_excel(os.path.join(path,'CURRENTLY MARRIED.xlsx'),sheet_name='CURRENTLY MARRIED')

In [4]:
#printing first 5 rows of df to cross check
cm.head()

,Country or area,ISO code,YearStart,YearEnd,Sex,AgeGroup,AgeStart,AgeEnd,DataValue,DataProcess,DataCatalog ShortName,DataCatalog ID,DataCatalog LongName,Data Source,Including_consensual_unions,Note on Data,Note on Country and Population,Region Name,Sub-region Name
0,Afghanistan,4,1972,1974,Men,[15-19],15,19,7.6,Survey,1972-1974 NDFGS,160,Afghanistan 1972-1974 National Demographic and...,National statistics,NaN,NaN,NaN,Asia,Southern Asia
1,Afghanistan,4,1972,1974,Men,[20-24],20,24,31.9,Survey,1972-1974 NDFGS,160,Afghanistan 1972-1974 National Demographic and...,National statistics,NaN,NaN,NaN,Asia,Southern Asia
2,Afghanistan,4,1972,1974,Men,[25-29],25,29,59.1,Survey,1972-1974 NDFGS,160,Afghanistan 1972-1974 National Demographic and...,National statistics,NaN,NaN,NaN,Asia,Southern Asia
3,Afghanistan,4,1972,1974,Men,[30-34],30,34,78.9,Survey,1972-1974 NDFGS,160,Afghanistan 1972-1974 National Demographic and...,National statistics,NaN,NaN,NaN,Asia,Southern Asia
4,Afghanistan,4,1972,1974,Men,[35-39],35,39,87.2,Survey,1972-1974 NDFGS,160,Afghanistan 1972-1974 National Demographic and...,National statistics,NaN,NaN,NaN,Asia,Southern Asia

### 2. Exploring Data Set

In [5]:
#Print the names of the columns
cm.columns

Index(['Country or area', 'ISO code', 'YearStart', 'YearEnd', 'Sex',
       'AgeGroup', 'AgeStart', 'AgeEnd', 'DataValue', 'DataProcess',
       'DataCatalog ShortName', 'DataCatalog ID', 'DataCatalog LongName',
       'Data Source', 'Including_consensual_unions', 'Note on Data',
       'Note on Country and Population', 'Region Name', 'Sub-region Name'],
      dtype='object')

In [6]:
cm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53721 entries, 0 to 53720
Data columns (total 19 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Country or area                 53721 non-null  object
 1   ISO code                        53721 non-null  int64
 2   YearStart                       53721 non-null  int64
 3   YearEnd                         53721 non-null  int64
 4   Sex                             53721 non-null  object
 5   AgeGroup                        53721 non-null  object
 6   AgeStart                        53721 non-null  int64
 7   AgeEnd                          53721 non-null  int64
 8   DataValue                       53721 non-null  float64
 9   DataProcess                     53721 non-null  object
 10  DataCatalog ShortName           53721 non-null  object
 11  DataCatalog ID                  53721 non-null  int64
 12  DataCatalog LongName            53721 non-null  object
 13  Data Source                     53721 non-null  object
 14  Including_consensual_unions     18112 non-null  float64
 15  Note on Data                    3712 non-null   object
 16  Note on Country and Population  6571 non-null   object
 17  Region Name                     53721 non-null  object
 18  Sub-region Name                 53721 non-null  object
dtypes: float64(2), int64(6), object(11)
memory usage: 7.8+ MB

### 3. Data Wrangling

#### There are columns that can be dropped
#### ISO code
#### AgeStart                               
#### AgeEnd
#### Data Process
#### DataCatalog ShortName
#### DataCatalog ID
#### DataCatalog LongName
#### Including_consensual_unions              
####  Note on Data                            
####  Note on Country and Population

In [7]:
#dropping columns
cm=cm.drop(columns=['ISO code','AgeStart','AgeEnd','DataProcess','DataCatalog ShortName', 'DataCatalog ID','DataCatalog LongName','Including_consensual_unions','Note on Data','Note on Country and Population'])

### 4. Data consistency Checks

In [8]:
#Based on info there shouldn't be any mixed type columnm, but it is better to double check
for col in cm.columns.tolist():
  weird = (cm[[col]].applymap(type) != cm[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (cm[weird]) > 0:
    print (col)

#### Indeed no mixed column

In [9]:
#Checking on missing values
cm.isnull().sum()

Country or area    0
YearStart          0
YearEnd            0
Sex                0
AgeGroup           0
DataValue          0
Data Source        0
Region Name        0
Sub-region Name    0
dtype: int64

#### There are no missing values

In [10]:
# Looking for duplicates
cm_dups = cm[cm.duplicated()]

In [11]:
cm_dups

,Country or area,YearStart,YearEnd,Sex,AgeGroup,DataValue,Data Source,Region Name,Sub-region Name
1905,Austria,1981,1981,Men,[10-14],0.00,UNSD,Europe,Western Europe
1919,Austria,1981,1981,Women,[10-14],0.00,UNSD,Europe,Western Europe
10453,Czechia,1991,1991,Men,[10-14],0.00,UNSD,Europe,Eastern Europe
10467,Czechia,1991,1991,Women,[10-14],0.00,UNSD,Europe,Eastern Europe
11297,Denmark,1970,1970,Men,[10-14],0.00,UNSD,Europe,Northern Europe
...,...,...,...,...,...,...,...,...,...
47393,Sweden,2011,2011,Women,[70-74],53.36,UNSD,Europe,Northern Europe
47759,Switzerland,1990,1990,Men,[10-14],0.00,UNSD,Europe,Western Europe
47773,Switzerland,1990,1990,Women,[10-14],0.00,UNSD,Europe,Western Europe
51211,United Kingdom,1991,1991,Men,[10-14],0.00,UNSD,Europe,Northern Europe
51225,United Kingdom,1991,1991,Women,[10-14],0.00,UNSD,Europe,Northern Europe

#### Thes aren't actual dupes

### 5. Exporting Data Set as Pickle to Prepare for Combining All Data Sets into One

In [12]:
cm.to_pickle(os.path.join(path, 'cm_clean.pkl'))